.red-badge {
  height: 15px;
  width: auto;
  min-width: 11px;
  padding: 0 2px;
  white-space: nowrap;
  border-radius: 8px;
  background: #ff0000;
  position: absolute;
  top: -3px;
  right: -3px;
  margin-top: -3px;
  font-size: 11px;
  line-height: 15px;
}

.cart-wrapper {
  top: 20px;
  right: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('../../img/shopping_cart.svg');
  background-size: cover;
}
