.wishlist-panel {
  width: 30vw;
  height: 100vh;
  background-color: #ECECEC;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(130vw, 0, 0);
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

.wishlist-panel .close_button {
  display: block;
  left: 30px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 40px;
}

.wishlist-panel .close_button:hover {
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
   -webkit-transform: scale(1.2, 1.2); /* Safari */
   transform: scale(1.2, 1.2);
}

.wishlist-header {
  margin-left: 30px;
  text-align: left;
}

.wishlist-panel button {
  width: 35%;
  max-width: 200px;
  min-width: 120px;
}

.product-wishList button {
  display: none;
}

.product-wishList .product {
    flex-wrap: wrap;
  }

  .product-wishList .product:first-of-type {
    border-top: 1px solid #747474;
  }

  .product-wishList .product img {
    width: 25%;
    padding: 0;
  }

  

@media (max-width: 1024px) {

  .wishlist-panel {
    width: 90%;
    padding: 0 5%;
    
  }
  .product {
    flex-wrap: wrap;
  }

  .product:first-of-type {
    border-top: 1px solid #747474;
  }

  .product .text-wrapper {
    margin: 0;
    width: 75%;
  }

  .product-wishList .product .text-wrapper h2 {
    font-size: 1.2em;
  }

  .product-wishList .product .text-wrapper div {
    font-size: 1em;
    color: purple;
  }

  .product-wishList button {
  display: none;
  }


  .product .text-wrapper h2 {
    font-size: 1.2em;
  }

  .product .text-wrapper div {
    font-size: 1em;
  }

  .product button {
    width: 80%;
    margin: 20px auto 10px;
  }

}