.searchbar .text-input {
  width: 40%;
  min-width: 80px;
  height: 40px;
  margin-right: 20px;
  padding: 0 0 0 20px;
  border-radius: 10px;
  color: #000;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-style: none;
}

.searchbar .text-input:focus,
.searchbar .text-input:active {
  border-style: none;
}
