.header {
	background-color: #000;
	height: 150px;
	padding: 100px 0;
	color: white;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
		url(../../img/cheers.jpg);
	background-size: cover;
	overflow: hidden;
}

.title {
	color: #f7f4ef;
	text-transform: uppercase;
}

.header-text-input-group {
	margin-top: 80px;
}

@media (max-width: 768px) {
	.header-text-input-group {
		margin-top: 60px;
	}
}
