/* global styles go here */
.App {
  text-align: center;
}

ul {
  list-style: none;
}

button {
  width: 12%;
  min-width: 100px;
  height: 40px;
  font-size: 1.1em;
  color: #fff;
  background-color: #4197e2;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
  border: none;
}

button:hover {
  -ms-transform: scale(1.03, 1.03); /* IE 9 */
  -webkit-transform: scale(1.03, 1.03); /* Safari */
  transform: scale(1.03, 1.03);
}

*::-webkit-input-placeholder {
  color: #000;
  font-size: 1.1em;
}
*::-moz-placeholder {
  color: #000;
  font-size: 1.1em;
}
*:-ms-input-placeholder {
  color: #000;
  font-size: 1.1em;
}

.link {
  text-decoration: none;
  color: #000;
}
